<h2>Список пользователей</h2>

<div class="admin-nav">
  <a href="/orders/active" class="btn-sec">К активным заказам</a>
  <a href="/orders/archive" class="btn-sec">Архив заказов</a>
</div>

<table class="orders-table">
  <thead>
    <tr>
      <th>ID</th><th>Имя</th><th>Логин</th><th>Телефон</th><th>Роль</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{login}}</td>
        <td>{{phone}}</td>
        <td>{{role}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
