<h2>Архив завершённых заказов</h2>

<div class="admin-nav">
  <a href="/orders/active" class="btn-sec">Назад к активным</a>
  <a href="/admin/users"   class="btn-sec">БД пользователей</a>
</div>

<table class="orders-table">
  <thead>
    <tr>
      <th>ID</th><th>Товар</th><th>К-во</th><th>Покупатель</th>
      <th>Дата доставки</th><th>Сумма</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
      <tr>
        <td>{{id}}</td>
        <td>{{product_name}}</td>
        <td>{{quantity}}</td>
        <td>{{customer_name}}</td>
        <td>{{delivery_date}}</td>
        <td>{{sum}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
