<div class="new-order-page">
  <h1 class="orders-title">Новый заказ</h1>

  <form action="/orders/new" method="post" class="order-form">
    <label>ФИО заказчика
      <input value="{{fullName}}" readonly>
      <input type="hidden" name="customer_name" value="{{fullName}}">
    </label>

    <label>Телефон
      <input value="{{userPhone}}" readonly>
      <input type="hidden" name="customer_phone" value="{{userPhone}}">
    </label>



    <label>
      Название товара
      <input type="text"       name="product_name"    required>
    </label>

    <label>
      Количество
      <input type="number"     name="quantity"        min="1" required>
    </label>

    <label>
      Цена за единицу
      <input type="number"     name="unit_price"      step="0.01" min="0" required>
    </label>

    <label>
      Ссылка на товар
      <input type="url"        name="product_link">
    </label>

    <label>Желаемая дата доставки
      <input name="delivery_date"
            type="date"
            min="{{today}}" required>        <!-- нельзя выбрать вчера -->     
    </label>

    <button type="submit" class="btn-submit">Отправить</button>
  </form>
</div>
